*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
}